<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/template/layoutBase.xhtml">

	<ui:define name="content">
		<h1>Sunday Million Poker</h1>
		<p>O Sunday Million é o maior torneio semanal de poker do mundo.
			Com US$1.000.000 garantidos na premiação e um prêmio para o campeão
			que geralmente ultrapassa US$ 100.000, esse torneio de No Limit
			Hold’em atrai os melhores jogadores do poker e é a melhor maneira de
			levar seu bankroll para outro patamar! Ganhe sua vaga com centenas de
			satélites durante a semana ou faça o buy-in direto por US$ 109 todos
			os domingos. De lendas do poker a classificados por satélite e Team
			PokerStars Pros, o Sunday Million está aberto a todos. Confira o Blog
			para saber quem foram os últimos ganhadores do Sunday Million,
			histórias e mãos interessantes, e não perca os destaques em vídeo
			todas as semanas na PokerStars.tv. Como Jogar o Sunday Million Os
			satélites acontecem durante a semana a partir de menos de um dólar.
			Para fazer o buy-in diretamente ou se registrar para um satélite,
			abra o software e procure por ‘Sunday Million’ na aba ‘Torneios’
			(desktop), ou através da aba ‘Torneio’ acessível pelo lobby (mobile).
			Você também pode selecionar ‘Satélite’ no filtro de torneio ‘Tipo’,
			ou encontrar pelo Desktop através da aba ‘Eventos Online’. Clique
			aqui para ir direto para aba de Torneios. Mais Sunday Majors O Sunday
			Million não é nosso único grande evento no domingo. Desde o Sunday
			Warm-Up até o Sunday Storm, termine sua semana com estilo jogando
			alguns dos maiores torneios do poker - os satélites para todos os
			eventos acontecem durante a semana. Vá até a página dos Torneios de
			Domingo para mais detalhes. Visite a aba ‘Torneios/Torneio’ ou digite
			‘Weekly’ na caixa de procura de torneio para encontrar seus jogos
			favoritos. Se você tiver alguma dúvida sobre o Sunday Million, entre
			em contato com o Suporte.</p>
		<h1>Como Jogar o Sunday Million</h1>
		<p>Os satélites acontecem durante a semana a partir de menos de um
			dólar. Para fazer o buy-in diretamente ou se registrar para um
			satélite, abra o software e procure por ‘Sunday Million’ na aba
			‘Torneios’ (desktop), ou através da aba ‘Torneio’ acessível pelo
			lobby (mobile). Você também pode selecionar ‘Satélite’ no filtro de
			torneio ‘Tipo’, ou encontrar pelo Desktop através da aba ‘Eventos
			Online’.</p>
		<h1>Mais Sunday Majors</h1>
		<p>O Sunday Million não é nosso único grande evento no domingo.
			Desde o Sunday Warm-Up até o Sunday Storm, termine sua semana com
			estilo jogando alguns dos maiores torneios do poker - os satélites
			para todos os eventos acontecem durante a semana. Vá até a página dos
			Torneios de Domingo para mais detalhes. Visite a aba
			‘Torneios/Torneio’ ou digite ‘Weekly’ na caixa de procura de torneio
			para encontrar seus jogos favoritos. Se você tiver alguma dúvida
			sobre o Sunday Million, entre em contato com o Suporte.</p>
	</ui:define>
</ui:composition>
</html>
