<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:form>

	<p:menubar>
		<p:menuitem value="Home" icon="ui-icon-home" url="home.xhtml" />
		<p:menuitem value="Registrar" url="cadastrarPessoa.xhtml" />
		<p:menuitem value="Torneios" url="cadastrarTorneio.xhtml" />
		<p:menuitem value="Depůsitos e Saques" />


		<f:facet name="options">
			<p:commandButton value="Logout" icon="ui-icon-extlink"
				action="#{usuarioController.Logout}" />
		</f:facet>
	</p:menubar>

</h:form>

</html>

